<!DOCTYPE html>
<html>
<head>
	<title>Django's blog</title>
</head>
<body>
	<div>
<h1><a href="https://djangofoundation.com">Django Girls Blog</a></h1>
<h2>First Experience as a Djangogirls Coach</h2>
	</div>
	<div>
		<p>published:9/4/2019, 11:18GMT</p>
		<p>It was an awesome experience for me considering i applied as a mentee. Initially i objected to coaching my mentee whose name is Dzifa but i reconsidered since i have little knowledge about the framework and i've been able to go through the Django tutorial book.</p>
	</div>
</body>
</html>